<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <script>
            var x = document.getElementById("demo");
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else { 
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }
            function showPosition(position) {
                var y = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Login Form</h1>
            </div>
            <form>
                <div class="form-group">
                    <label for="Name">Name: </label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                    <label for="Address: ">Address: </label>
                    <button class="btn btn-sm btn-default" id="loc" onclick="getlocation()">Select current location as address</button>
                    <h5><strong>Add another address:</strong></h5>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="Contact">Contact: </label>
                    <input type="tel" class="form-control" id="contact" required>
                </div>
                <div class="form-group">
                    <label for="Email">Email: </label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Password: </label>
                    <input type="password" class="form-control" id="pwd" required>
                </div>
            </form>
        </div>
    </body>
</html>